RewriteEngine on
RewriteCond %{HTTP_HOST} !^michelleandjames\.net [NC]
RewriteCond %{HTTP_HOST}   !^$          
RewriteRule ^(.*)$ http://michelleandjames.net/$1 [R=301,NE]
RewriteRule ^([^\.]+)$ $1.html [NC,L]

DirectoryIndex jackson.html
